<div id="wrapper">
  <div id="banner">
    <div id="banner_text"></div>
  </div>
  <header></header>

  <!--Adding Nav-->
  <%- include('nav')%>

  <main>
    <h2 class="text_page_title"><%= title %></h2>
    <p>As a result of 15 years on the market offering innovating solutions to the private banking and health sector, our list of partneship, and technologies is huge as our experience.
      <p>

    <div id="gallery">
      <div class="figure"><img src="/images/webDevelopment.jpg" width="200"
            height="150"><br>
            <div>&nbsp;</div>
            <h2>  <%= service1 %> </h2>
          </a>
      </div>
      <div class="figure"><img src="/images/mobileApp.jpg" width="200"
            height="150"><br>
          <div>&nbsp;</div>
          <h2>  <%= service2 %> </h2>
        </a>
      </div>
      <div class="figure"><img src="/images/softwareDevelopment.jpg" width="200"
            height="150"><br>
          <div>&nbsp;</div>
          <h2>  <%= service3 %></h2>
        </a>
      </div>
    </div>
    <div id="gallery">
      <div class="figure"><img src="/images/testing.jpg" width="200"
            height="150"><br>
          <div>&nbsp;</div>
          <h2><%= service4 %><h2>
        </a>
      </div>
      <div class="figure"><img src="/images/uxDesign.jpg" width="200"
            height="150"><br>
          <div>&nbsp;</div>
          <h2> <%= service5 %></h2>
        </a>
      </div>
      <div class="figure"><img src="/images/dataAnalytics.jpg" width="200"
            height="150"><br>
          <div>&nbsp;</div>
          <h2><%= service6 %></h2>
        </a>
      </div>
    </div>
    <div id="gallery">
      <div class="figure"><img src="/images/cibersecurity.jpg" width="200"
            height="150"><br>
          <div>&nbsp;</div>
          <h2><%= service7 %></h2>
        </a>
      </div>
      <div class="figure"><img src="/images/cloudServices.png" width="200"
            height="150"><br>
          <div>&nbsp;</div>
          <h2> <%= service8 %></h2>
        </a>
      </div>
      <div class="figure"><img src="/images/digitalTransformation.jpg" width="200"
            height="150"><br>
          <div>&nbsp;</div>
          <h2><%= service9 %></h2>
        </a>
      </div>
    </div>
  </main>

</div>