<!-- File Name:    bodyProjects.ejs
  -  Student Name: Julio Reyes
  -  Student Id:   301308609
  -  Date:         October 7th, 2023 
  -->
<div id="wrapper">
  <div id="banner">
    <div id="banner_text"></div>
  </div>
  <header></header>

  <!--Adding Nav-->
  <%- include('nav')%>
  
  <main>
    <h2 class="text_page_title"><%= title %></h2>
    <p>As a consulting firm, we had collaborated on top projects around the world. Specifically on Web development using Express, C# and Oracle SQL.
      All of those considered as robust platforms to perfom with huge amount of data.
    </p>

    <div id="gallery">
      <div class="figure"><a href="/images/project1.png"><img src="/images/project1.png" width="200"
            height="150"><br>
          <div>&nbsp;</div>
          <h4><%= project1 %></h4>
          <br>
          <h5>Javascript / JSON files</h5>
          <br>
          <p>As a software developer, I worked gathering the bussines requierements, and designing the UI to dynamically order the movies applying different filters.</p>
        </a>
      </div>
      <div class="figure"><a href="/images/project2.png"><img src="/images/project2.png" width="200"
            height="150"><br>
          <div>&nbsp;</div>
          <h4><%= project2 %></h4>
          <br>
          <h5>C#</h5>
          <br>
          <p>As a software developer, I collaborated designing the UI, and programming the application to print a receipt when order is taken.</p>
        </a>
      </div>
      <div class="figure"><a href="/images/project3.png"><img src="/images/project3.png" width="200"
            height="150"><br>
          <div>&nbsp;</div>
          <h4><%= project3 %></h4>
          <br>
          <h5>Express/CSS/Node</h5>
          <br>
          <p>As a software developer, I worked designing the appealing UI/UX, setting up the routes and gathering the requirements for every web page.</p>
        </a>
      </div>
    </div>

  </main>
</div>